{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
<style>
table, td{

  border: 1px solid black;
}
table{
  background-color: red;
    }
</style>
</head>
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Welcome to TTM HOME PAGE</h1>
</head>
<body>

<table border="2,red" style="width:50%" bgcolor="red" >
  <tr style="width:50%">
    <th style="width:50%;background-color:black" >
        <img src="{% static 'images/klulogo3.jpeg' %}"width="500" height="300">
    </th>
    <th style="width:50%">WELCOME TO TTM HOMEPAGE</th>
  </tr>

</table>
</body>
</html>