<!--{% extends 'Navbar.html' %}-->
<!--{% load static %}-->
<!--<html>-->
<!--{% block body %}-->
<!--<div>-->
<!--  <div class="container">-->
<!--  <div class="row">-->
<!--    <div  align="center" class="col">-->
<!--        <br> <br>-->

<!--       <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="tzfunctioncall" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Select Any Counrty-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="#">America/Cambridge_Bay</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Africa/Lagos</a></li>-->
<!--            <li><a class="dropdown-item" href="#"></a>Asia/Jakarta</li>-->
<!--              <li><a class="dropdown-item" href="#">Canada/Central</a> </li>-->
<!--              <li><a class="dropdown-item" href="#">Europe/Jersey</a></li>-->
<!--          </ul>-->

<!--           </li>-->
<!--  <form method="post" action="{% url 'tzfunctioncall' %}">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Get Date</button>-->
<!--  </form>-->

<!--</div>-->
<!--</div>-->
<!--{% endblock %}-->
<!--</html>-->